<IfModule mod_rewrite.c>

	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f

	RewriteRule ^public/([a-z\\\/\.]+)$ core/Public/$1
	RewriteRule ^([a-zA-Z\/0-9]+)$ index.php?url=$1 [QSA,L]

</IfModule>